#sortNamesContainer {
    margin: 10px;
}

#sortNamesContainer select {
    margin-top: 10px;
}

select {
    box-sizing: border-box;
    border: 2px solid lightblue;
    border-radius: 5px;
    padding: 5px;
    width: 270px;
    height: 35px;
}