/* Mobile First */

#totalAmountContainer {
    padding: 5px;
    margin: 10px;
}

#totalAmount {
    font-size: 22px;
}

@media only screen and ( min-width: 570px ) {
    #totalAmountContainer {
        grid-column-start: 1;
        grid-column-end: span 3;
    }
}